div.row {
	margin-left: 275px;
}

body {
	text-align:center;

}

h1 {
	margin-bottom:50px;
	margin-left: 60px;
	margin-top: 50px;
	width: 100%;
}

input#username {
	width: 475px;
}

textarea#comment {
	width: 475px;
}

li {
	list-style-type: none;
	text-align:left;
	font-size:20px;
}

button {
	margin-left: 110px;
}

ul.list-group {
	width: 475px;
}
